# Entornos virtuales
venv/
.venv/
env/

# Cache Python
__pycache__/
*.pyc

# Modelos descargados / pesos (Whisper, transformers, etc.)
*.pt
*.bin
*.onnx
models_cache/

# Configuración local del usuario
assets/config/settings.json

.pytest_cache/

# Sistema
.DS_Store
Thumbs.db

# Entornos / IDE
.env
.idea/
.vscode/

# Logs de la aplicacion
logs/
dist/
build/
*.spec
